div#my-class.pageboard-shadow
	div.content-header
		div.header-inner
			h2#content-main-heading.text-left 我的班级
			h2.text-right 展开/折叠
	div.content-divider
	div.panel-group#my-class-items-region(style="min-height:200px")