// Variable definitions
$header-height: 40px;
$header-logo-font-size: 1.2em;
$header-menu-font-size: 1em;
$navi-menu-width: 175px; // In order for css3 transition to work, a fixed width is required.

$critical-alarm-color: #d20000;
$major-alarm-color: #f38400;
$minor-alarm-color: #e2b605;
$warning-alarm-color: #00c6b9;
$server-color: #383838;

$cyan-blue: #009cff;

// master page header style

.header {
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    background-color:black;
    z-index: 30000;            // above other things including the menu bar below
}

.header-brand {
  width: 205px;
  vertical-align: top;
  display: inline-block;
}

.header-logo-image {
  position: relative;
  background-image: url(/nms/img/cyan-bp-logo.png);
  overflow: hidden;
  background-repeat: no-repeat;
  top: 6px;
  background-size: contain;
  width: 28px;
  height: 28px;
  margin-left: 20px;
  display:inline-block;
}

.header-logo-title {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 21px;
  display:inline-block;
  margin-left: 0.25em;
}

.header-planet {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 16pt;
  color: $cyan-blue;
  display: inline-block;
  position: relative;
  top: -2px;
}
.header-operate {
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 16pt;
  color: white;
  display:inline-block;
  position: relative;
  top: -2px;
}
.header-starfield {
  min-width: 175px;
  height: 40px;
  background-image: url(/nms/img/cy-navi-menu-bg.jpg);
  background-repeat: repeat-x;
  display:inline-block;
  padding-left: 1em;
  padding-right: 1em;
}

.master-page-view-label {
  color: white;
  font-size: 14px;
  line-height: 40px;
  display: inline-block;
  padding-left: 0.75em;
  padding-right: 0.75em;
  cursor: pointer;
}

.master-page-view-label-selected {
  color: $cyan-blue;
}

.master-page-view-label:hover {
  color: $cyan-blue;
}

.master-page-alarm-button {
  min-width:3em;
  display: inline-block;
  font-family: "open sans";
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 4px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #ececec 10px, #cccccc 100%);
  color: #373737;
}
.master-page-alarm-button:hover {
  background-color: $cyan-blue;
  border-color: $cyan-blue;
  background-image:none;
  color: white !important;
}
.master-page-alarm-critical {
  color: #b20303;
}
.master-page-alarm-major {
  color: #b57106;
}
.master-page-alarm-minor {
  color: #bb9d0e;
}
.master-page-alarm-warning {
  color: #009a98;
}


