body {
    overflow: visible !important;
}

/* Here's the less rules for ABCD routing create tunnel form */
h2 {
    font-size: 15px;
    border: solid 1px;
    padding: 2px 12px;
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left_pad_160 {
    padding-left: 160px;
}

.sidepanel {
    padding-left: 40px;
}

.clearer {
    clear: both
}

.buttons_panel {
    text-align: right;
}

.buttons_panel button{
    margin: 5px;
}

.route_define_method {
    p {
        margin: 0;
        padding-bottom: 20px;
    }
}

table.details tr td{
    padding: 4px 2px;
}

div.subrow {
    padding: 4px 0;
}

div.caption {
    padding-left: 10px;
}


td.right-align {
    text-align: right;
}

td.right-align span {
    padding-right: 15px;
}

table.details input[type="text"], table.details select {
    width: 195px;
}

table.details input.manually-assigned-id{
    width: 70px;
}

table.details select.tunnel-type {
    width: 107px;
}

table.details .bandwidth-select{
    width: 85px;
}

label{
    padding-left: 4px;
}

table.details input.tunnel-name, table.details textarea {
    width: 400px;
}

table.details textarea {
    height: 87px;
}

div.paths_table{
    padding: 6px 13px 13px 38px;
}

span.aend_ip_address, span.zend_ip_address{
	margin-left: 10px;
}