// ******************************************************************
// Library Styles
// ******************************************************************

@import "fonts/_ubuntu";
@import "fonts/_open-sans";

// ******************************************************************
// Cyan Styles
// ******************************************************************

// Common styles for all pages
@import "_page-common";

// Page specific styles

.cyan-login-container {
  width: 100%;
  text-align:center;
  color: rgb(52, 45, 45);
}
.cyan-login-form {
  text-align:left;
  margin-top: 5em;
  background-color:#dadada;
  border-radius: 10px;
  padding: 2em;
  display: inline-block;
}

.cyan-login-header {
  font-size: 2.25em;
  color: black;
  position: relative;
  top: 2em;
  text-indent: -4em;
}

.cyan-login-username {
  font-size: 1.2em;
  width: 30em;
  margin-bottom: 1em;
}

.cyan-login-password {
  font-size: 1.2em;
  width: 30em;
  margin-bottom: 1em;
}

.cyan-login-checkbox {

}

.cyan-login-span {
  font-size: 1.2em;
}

.cyan-login-button {
  font-size:1.2em;
  padding: .4em 1em .6em 1em;
  float: right;
  top: 5em;
  position: relative;
}

.cyan-login-footer {
  height:20em;
  border-width: 10px 0 0 0;
  border-color: #bbb;
  border-style: solid;
  width:100%;
  position:fixed;
  bottom:0;
  background-color:lightgray;
  color: rgb(52, 45, 45);
}

.cyan-login-copyright {
  font-size:1.2em;
  padding: 3em 0 0 3em;
}
.cyan-login-alert {
  color:red;
  font-size:1.2em;
}
.cyan-login-alert-hidden {
  display:none;
}
