// ******************************************************************
// Library Styles
// ******************************************************************

@import "fonts/_ubuntu";
@import "fonts/_open-sans";

// ******************************************************************
// Cyan Styles
// ******************************************************************

// Common styles for all pages
@import "_page-common";

// Page specific style
/* style for simple 404/lost page content */
.lost-content {
  position: relative;
  margin: 5em auto;
  color: black;
  text-align:center;
}
