// ******************************************************************
// Library Styles
// ******************************************************************

@import "fonts/_ubuntu";
@import "fonts/_open-sans";

// ******************************************************************
// Cyan Styles
// ******************************************************************

// Common styles for all pages
@import "_page-common";

.box {
  width:200px;
  height:200px;
  background-color:#008000;
}

.timeline-test-harness {
  width: 970px;
  margin: 1em auto 0 auto;
  border: 1px solid lightgray;
  height: 400px;
  border-radius: 5px;
  background-color:whitesmoke;
}
