div.pageboard-shadow.user-profile-container
	a#user-profile-group(data-toggle="modal" data-target="#user-profile-modal")
		div.photo
			i.user-image(style="background-image: url('#{ user.user_image }')")
		div.content-divider
		div.fullname #{ user.full_name }
		div.username
			s @
			b #{ user.username }
	//Model
	div#user-profile-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		div.modal-dialog.modal-sm
			div.modal-content
				form(action="/api/v1/users/image", method="post", enctype="multipart/form-data")
					input(type="file", name="displayImage")
					input(type='submit')