div.pageboard-shadow.user-profile-container
	a#user-profile-group(data-toggle="modal" data-target="#user-profile-modal")
		div.photo
			i.user-image(style="background-image: url('#{ userImage }'),url('/static/img/default_image/default-user.png')")
		div.content-divider
		div.fullname #{ username }
		div.username
			s @
			b #{ username }
	//Model
	div#user-profile-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		div.modal-dialog.modal-sm
			div.modal-content
				form(action="/api/v1/users/image", method="post", enctype="multipart/form-data")
					input(type="file", name="userImage")
					input(type="hidden", name="signature", value="tempkey")
					input(type='submit')