.cyan-link {
  color: #4f4645;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
}

.cyan-link:disabled {
  color: #999;
}

.cyan-link span {
  vertical-align: middle;
}

// default browser focus border
.cyan-link:focus {
  outline-width: 0;
}
.cyan-link:hover:not(:disabled) {
  color: #1E90FF;
}

.cyan-icon {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin: .2em;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.cyan-icon-viewer {
  background-image: url(/nms/img/cyan-btn-alarm-view.png);
}

.cyan-link:disabled .cyan-icon-viewer {
  background-image: url(/nms/img/cyan-btn-alarm-view-disabled.png);
}

.cyan-link:hover:not(:disabled) .cyan-icon-viewer {
  background-image: url(/nms/img/cyan-btn-alarm-view-hover.png);
}

.cyan-icon-affected-services {
  background-image: url(/nms/img/cyan-btn-services.png);
}

.cyan-link:disabled .cyan-icon-affected-services {
  background-image: url(/nms/img/cyan-btn-services-disabled.png);
}

.cyan-link:hover:not(:disabled) .cyan-icon-affected-services {
  background-image: url(/nms/img/cyan-btn-services-hover.png);
}

.cyan-icon-export {
  background-image: url(/nms/img/cyan-btn-export.png);
}

.cyan-link:disabled .cyan-icon-export {
  background-image: url(/nms/img/cyan-btn-export-disabled.png);
}

.cyan-link:hover:not(:disabled) .cyan-icon-export {
  background-image: url(/nms/img/cyan-btn-export-hover.png);
}

.cyan-icon-ack {
  background-image: url(/nms/img/cyan-btn-acknowledge.png);
}

.cyan-link:disabled .cyan-icon-ack {
  background-image: url(/nms/img/cyan-btn-acknowledge-disabled.png);
}

.cyan-link:hover:not(:disabled) .cyan-icon-ack {
  background-image: url(/nms/img/cyan-btn-acknowledge-hover.png);
}