lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results
dump.rdb
npm-debug.log
node_modules

/server/utils/config.json

/.dev-pid
/.dev-logs
/.tmp-build
/development
/production
/tscommand.tmp.txt
/.idea
/.sass-cache

static/img/user_image

.DS_Store
/utilities/output

*.sublime-project
*.sublime-workspace
