lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.lock

pids
logs
results
dump.rdb
npm-debug.log
node_modules

/.tmp-build
/development
/production
/rethinkdb_data
/tscommand.tmp.txt
/.idea
/.sass-cache