$school-very-dark-color: #124720
$school-dark-color: #255933
$school-color: #3D714B
$school-light-color: #588a65
$school-very-light-color: #81a98b

$inverse-very-dark-color: #132B3D
$inverse-dark-color: #233B4D
$inverse-color: #374F61
$inverse-light-color: #4F6577
$inverse-very-light-color: #718392

$bright-school-dark-color: #475917
$bright-school-color: #7D8F4D
$bright-school-light-color: #C8D6A3

$error-school-dark-color: #5F2218
$error-school-color: #975A52
$error-school-light-color: #E2B2AC

$bg-color: #ecf0f1
$fg-color: white