$school-dark-color: #124720 // normal text color
$school-color: #3D714B
$school-light-color: #81a98b

$inverse-color: #233B4D
$inverse-light-color: #4F6577  // used for grey

$bright-school-dark-color: #475917
$bright-school-color: #7D8F4D
$bright-school-light-color: #C8D6A3

$error-school-dark-color: #5F2218
$error-school-color: #975A52 // used
$error-school-light-color: #E2B2AC

$bg-color: #ecf0f1
$fg-color: #ffffff