extends _master

block html-templates

    div(data-template="cyan-analytics-toolbar-template").cyan-analytics-toolbar
        span(data-element="range-picker")
        span(style="margin-right: 0.5em") Filter
        div.vertical-align-middle.inline-block(data-element="filter-box")