extends _page-master

block append html-templates

    div(data-template="cyan-services-panel-template").full-height
        div.services-container.full-height
            ul(data-element="panelbar")
                li.k-state-active Service Management
                    div
                        div(data-element="splitter").cyan-split-view.no-overflow

                li Trail Management
                    div
                        p Sample Content

    div(data-template="new-service-form-template")
        style(scoped).
            .new-service-form {
                background-color: whitesmoke;
            }

            div.tabHeader {
                border-width: 0 0 0 0;
            }

            div.tabHeaderButton, div.tabHeaderButton:last-child {
                border-width: 1px 1px 1px 0px;
            }

            div.tabContent {
                border-top: 1px solid #ccc;
            }

            .service-config-container {
                height: -webkit-calc(100% - 70px);
            }

            .cyan-split-view.k-widget {
                background-color: whitesmoke;
            }
        div.new-service-form.full-height
            form(role=form).form-horizontal
                .form-group.section.group
                    .col.span_1_of_12
                        label.control-label(for='service-type-list') Service Type:
                    .col.span_1_of_12
                        select(data-bind="value: serviceType")#service-type-list
                    .col.span_1_of_12
                        label.control-label(for='circuit-id-input') Circuit ID:
                    .col.span_2_of_12
                        input(data-bind="value: circuitId", type="text")#circuit-id-input.form-control
                    .col.span_1_of_12
                        label(for='oam-profile-list').control-label OAM Profile:
                    .col.span_1_of_12
                        select(data-bind="value: oamProfile").oam-profile-list
                    .col.span_1_of_12
                        label.control-label(for='customer-list') Customer:
                    .col.span_2_of_12
                        select.customer-list
                    .col.span_2_of_12
                        label.checkbox-inline(for='eth-csv-checkbox')
                            input#eth-csv-checkbox(type="checkbox", data-bind="value: ethcsf")
                            | ETH_CSF enable

                .form-group.section.group
                    .col.span_1_of_12
                        label.control-label(for='owner-input') Owner:
                    .col.span_1_of_12
                        input(data-bind="value: owner")#owner-input.form-control
                    .col.span_1_of_12
                        label.control-label(for=description-input) Description:
                    .col.span_4_of_12
                        input(data-bind="value: description")#description-input.form-control
                    .col.span_1_of_12
                        label.control-label(for=provider-profile-list) Provider Profile:
                    .col.span_2_of_12
                        select.provider-profile-list
                    .col.span_2_of_12
                        label.checkbox-inline
                            input#evc-llf-checkbox(type="checkbox", data-bind="value: evcllf")
                            | EVC_LLF enabled

            div.service-config-container.no-overflow

    div(data-template="cyan-service-endpoints-config-template")

    div(data-template="cyan-service-azends-config-template")
        table
            tr
                td.a-end(width="50%")
                td.z-end(width="50%")

    div(data-template="uni-config-template")
        style(scoped).
            .uni-config-form {
                background-color: whitesmoke;
                overflow-y: auto;
                min-width: 500px;
            }
        div.uni-config-form
            form(role='form').form-horizontal

                .form-group.section-group
                    .col.span_2_of_12
                        label(for="node-input").control-label Node:
                    .col.span_8_of_12
                        input(id="node-input", type="text", data-bind="value: node").form-control
                    .col.span_2_of_12
                        button(data-bind="click: browseNodes").k-button Browse

                .form-group.section-group
                    .col.span_2_of_12
                    .col.span_3_of_12
                        label.checkbox-inline
                            input(type="checkbox").bold
                            | OAM enabled
                    .col.span_1_of_12
                        label.control-label MEP&nbsp;ID
                    .col.span_4_of_12
                        input(type="text").form-control

                .form-group.section-group
                    .bold Flow&nbsp;Details
                    hr

                .form-group.section-group
                    .col.span_2_of_12
                        label(for="port-input").control-label Port:
                    .col.span_8_of_12
                        input(id="port-input", type="text", data-bind="value: port").form-control
                    .col.span_2_of_12
                        button(data-bind="click: browsePorts").k-button Browse

                .form-group.section-group
                    .col.span_2_of_12
                        label.control-label Bandwidth Profile:
                    .col.span_8_of_12
                        select.form-control

                .form-group.section-group
                    .col.span_2_of_12
                    .col.span_8_of_12
                        span.form-inline-text Units:
                        label.radio-inline
                            input(type="radio")
                            | KB
                        label.radio-inline
                            input(type="radio")
                            | MB
                .section.group
                    .col.span_2_of_12
                    .col.span_3_of_12
                        .form-group
                            span.form-inline-text.bold CIR:
                            input(type="text", size=6, style="display:inline-block;width:initial").form-control
                            span.form-inline-text Kbps
                        .form-group
                            span.form-inline-text.bold EIR:
                            input(type="text", size=6, style="display:inline-block;width:initial").form-control
                            span.form-inline-text Kbps
                    .col.span_3_of_12
                        .form-group
                            span.form-inline-text.bold CBS:
                            input(type="text", size=6, style="display:inline-block;width:initial").form-control
                            span.form-inline-text KB
                        .form-group
                            span.form-inline-text.bold EBS:
                            input(type="text", size=6, style="display:inline-block;width:initial").form-control
                            span.form-inline-text KB
                    .col.span_3_of_12
                        .form-group
                            label.checkbox-inline
                                input(type="checkbox").bold
                                | Color aware policer
                        .form-group
                            label.checkbox-inline
                                input(type="checkbox").bold
                                | Coupling flag

                .form-group.section-group
                    .col.span_2_of_12
                        label.control-label Service Profile:
                    .col.span_8_of_12
                        select.form-control

                .form-group.section-group
                    .col.span_2_of_12
                        label.control-label Filter Profile:
                    .col.span_8_of_12
                        select.form-control

                    .section.group
                        .col.span_2_of_12
                        .col.span_4_of_12
                            .form-group
                                label Outer VLAN ID
                                input(type="text").form-control
                        .col.span_4_of_12
                            .form-group
                                label Outer VLAN EtherType
                                input(type="text").form-control
