div#contact-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="contact-modal-title" aria-hidden="true")
	div.modal-dialog
		div.modal-content
			div.modal-header.contact-modal-header
				button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
				h4#contact-modal-title.modal-title 联系人
			div.content-divider
			div.modal-body.contact-modal-body
				div#contact-modal-items-region