div.stream-item
	div.panel.panel-default
		div.panel-heading
			h4.panel-title
				a(data-toggle="collapse" data-parent="#class-group" href="#collapseOne") {}
	div#collapseOne.panel-collapse.collapse.in.stream-item
		div.panel-body asdasdasdasdasdasdasddas