doctype html
html
  head
    title= title
    link(rel='icon', href='/static/images/favicon.ico', type='image/x-icon')
    link(rel='shortcut', href='/static/images/favicon.ico', type='image/x-icon')
    link(rel="shortcut", href="/static/images/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="icon", href="/static/images/favicon.icon", type="image/vnd.microsoft.icon")
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content