html
    head
        script(type=javascript).
            window.addEventListener('message', function (e) {

                var data = JSON.parse(e.data);
                var event = data.event;
                var payload = data.payload;

                window.parent.postMessage(JSON.stringify({ event: event, payload: payload }), '*');
            });
