extends _master

block body-content
    header.labelheader
        p.school-logo-container.unselectable
            a.school-logo(href="/")
                img(src='/core/img/school-logo-pinghe-login-white.png')
                | &nbsp;优云
        nav.main.unselectable
            ul
                li.pickupreport-link
                    a(href="/pickupreport") Pickup Report
                li.usermanage-link
                    a(href="/usermanage") Student Management
        nav.user.unselectable
            div.user-icon
                i(style="background-image: url('#{ user.userImage }'), url('/static/img/default_image/default-user.png');")
            ul
                li
                    a(href="/logout") log out
    div#content
        div#header-background-region.fixed
            div.closed
                header#header-background.closed
                    hgroup(style="opacity: 1;")
                        p.user-photo
                            i.photo
                                i
                            i.saving Saving...
        block main-content

        div#error-modal.modal.fade
            div.modal-dialog.modal-sm
                div.modal-content
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                        h4.modal-title Error
                    div.content-divider
                    div.modal-body
                        div(style="padding: 0.5em") Something goes wrong with the connection,
                            | a group of trainned monkey is depatched to solve this problem! 
                            | We will fix it soon!
                    div.modal-footer
                        button(type="button" class="btn btn-default" data-dismiss="modal") OK