extends _master

block body-content
	header.labelheader
		p.school-logo-container.unselectable
			a.school-logo(href="/")
				img(src='/core/img/school-logo-pinghe-login-white.png')
				| &nbsp;优云
		nav.main.unselectable
			ul
				li.home
					a(href="/") 主页
				li.usermanage-link
					a(href="/usermanage") 管理
		nav.user.unselectable
			div.user-icon
				i(style="background-image: url('#{ user.userImage }'), url('/static/img/default_image/default-user.png');")
			ul
				li
					a(href="/account") 我的账户
				li
					a(href="/logout") 登出
	div#content
		header#header-background.opened.closed.fixed
			hgroup(style="opacity: 1;")
				p.user-photo
					i.photo
						i
					i.saving 保存中...
		block main-content

