extends app-header
block main-content
	div#main-content.container-fluid
		div.page-board
			div.col-sm-5
				div.page-board-shadow.left-panel hello
			div.col-sm-7
				div.page-board-shadow.right-panel
					div.content-header
						div.header-inner
							h2#content-main-heading.text-left 消息中心
							h2#content-time-heading.text-right 消息中心
					div.stream-container
						div.stream-item
						div.stream.home-stream
							ol.stream-items
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 10分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/school-logo-pinghe-login.png').avatar
													strong.fullname 平和学校
													span &nbsp;
													span.username
														s @
														b PingHeSchool
												small.time
													a.message-timestamp
														span.timestamp 17分钟
											p.message-content
												月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 27分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 27分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 27分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 27分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/login-view-background.jpg').avatar
													strong.fullname 陆小凤
													span &nbsp;
													span.username
														s @
														b XiaoFeng
												small.time
													a.message-timestamp
														span.timestamp 27分钟
											p.message-content
												下午三点在总务处有Party
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/school-logo-pinghe-login.png').avatar
													strong.fullname 平和学校
													span &nbsp;
													span.username
														s @
														b PingHeSchool
												small.time
													a.message-timestamp
														span.timestamp 17分钟
											p.message-content
												月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/school-logo-pinghe-login.png').avatar
													strong.fullname 平和学校
													span &nbsp;
													span.username
														s @
														b PingHeSchool
												small.time
													a.message-timestamp
														span.timestamp 17分钟
											p.message-content
												月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛
								li.stream-item
									div.message
										div.content
											div.stream-item-header
												a.account-group
													img(src='/core/img/school-logo-pinghe-login.png').avatar
													strong.fullname 平和学校
													span &nbsp;
													span.username
														s @
														b PingHeSchool
												small.time
													a.message-timestamp
														span.timestamp 17分钟
											p.message-content
												月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛月亮是你的心情而我的是月亮的眼睛

	script(src='/core/js/home.js')