doctype html
html
  head
    title= title
    link(rel='icon', href='/static/images/favicon.ico', type='image/x-icon')
    link(rel='shortcut', href='/static/img/favicon.ico', type='image/x-icon')
    link(rel="shortcut", href="/static/img/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="icon", href="/static/img/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", type="text/css", href="/static/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', type="text/css", href='/static/stylesheets/style.css')
    block include

  body
    block content