extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    div#main-region.container-fluid
        div#main.page-board
            div#left-panel-region.col-sm-5
                div.pageboard-shadow(style="background:white;")
                    div.content-header
                        div.header-inner
                            h2.text-left 日历
                    div.content-divider
                    div#calender
            div#right-panel-region.col-sm-7
                div.pageboard-shadow(style="background:white;")
                    div.content-header
                        div.header-inner
                            h2.text-left 接车报告
                    div.content-divider
                    div(style="padding: 1em")
                        ul.nav.nav-tabs
                            li.active
                                a(href="#currentreport" data-toggle="tab") 现在的报告
                            li
                                a(href="#futurereport" data-toggle="tab") 未来的报告
                            li
                                a(href="#pastreport" data-toggle="tab") 过去的报告
                        div.tab-content
                            div#currentreport.tab-pane.active
                                div
                                    div
                                        p(style="padding: 0.5em") 正在统计今天接车的人数...
                                        ol#prepickup-list.list-group
                                            li.list-group-item
                                                span.badge.need-pickup
                                                需要接车的人数
                                            li.list-group-item
                                                span.badge.absence
                                                请假的人数
                                            li.list-group-item
                                                span.badge.total
                                                总计
                                    div
                                        h4(style="padding: 0.5em") 请假统计
                                        div.content-divider
                                        div#absence-table
                                        br
                                        button(type="button").btn.btn-primary 结束统计开始接车！
                                div.hidden
                                    div 需要接 不用接 接到
                                    div 今天请假的人
                                    div 实时接送记录
                            div#futurereport.tab-pane
                                div(style="padding: 0.5em; text-align: right")
                                    button#add-report-button(type=button data-toggle="modal" data-target="#add-report-modal")
                                        .btn.btn-primary New Report
                                div#future-report-table
                            div#pastreport.tab-pane ...

    div#add-report-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="add-report-modal-label" aria-hidden="true")
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4#add-report-modal-label.modal-title Create Report
                div.content-divider
                div.modal-body
                    //- add new input later
                    div.input-group.modal-input
                        span.input-group-addon.notopleftradius.noborderradius
                            i.glyphicon.glyphicon-calendar
                        input#new-report-datepicker.noborderradius.form-control(data-provide="datepicker" type="text" placeholder="日期")
                div.modal-footer
                    button.btn-sm(type="button" class="btn btn-default" data-dismiss="modal") Cancel
                    button.btn-sm#save-new-report(type="button" class="btn btn-primary") Create

    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/pickupreport.js')