extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    div#main-region.container-fluid
        div#main.page-board
            section#left-panel-region.col-sm-5
                div.pageboard-shadow
                    header.content-header
                        div.header-inner
                            h2.text-left Calender
                    div.content-divider
                    div.calendar-container
                        div#calendar
            section#right-panel-region.col-sm-7
                div.pageboard-shadow
                    header.content-header
                        div.header-inner
                            h2.text-left Pickup Report
                                span#report-sub-info
                                span.fr#status-pill Status: 
                                    span.socket-status
                    div.content-divider
                    div#right-panel-container(style="padding:10px;")

    div#add-report-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="add-report-modal-label" aria-hidden="true")
        div.modal-dialog.modal-sm
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                    h4#add-report-modal-label.modal-title Create Report
                div.content-divider
                div.modal-body
                    //- add new input later
                    div(style='font-size:16px; text-align:center; padding:15px') Going to Create a Report for
                        h2(style='padding:10px').create-report-date
                        | Press Create to Confirm
                div.modal-footer
                    button.btn-sm(type="button" class="btn btn-default" data-dismiss="modal") Cancel
                    button.btn-sm#save-new-report(type="button" class="btn btn-primary") Create

    script#report-template(type="text/x-kendo-template")
        div
            h4(style="padding: 0.5em") Summary
            div.content-divider
            div.pickup-summary-table.table-responsive
                table.table.table-bordered
                    thead
                        tr
                            th Need To Pick
                            th Picked Up
                            th Absence
                    tbody
                        tr
                            td#need-pickup-total
                            td#picked-total
                            td#absence-total

        div
            h4(style="padding: 0.5em") Picked
            div.content-divider
            div#picked-table

        div
            h4(style="padding: 0.5em") Need to Pick
            div.content-divider
            div#need-pickup-table
        div
            h4(style="padding: 0.5em") Absence
            div.content-divider
            div#absence-table

    span#notifications

    script#future-no-report-template(type="text/x-kendo-template")
        div.report-info-center
            h2 There is no report created for today, want to add one?
            button#add-report-button(type=button)
                .btn.btn-primary Create Report

    script#past-no-report-template(type="text/x-kendo-template")
        div.report-info-center
            h2 There was no report recorded for today.
    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/pickupreport.js')