extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    div#main-region.container-fluid
        div.page-board.pageboard-shadow(style="background:white;")
            div.content-header
                div.header-inner
                    h2.text-left 接车报告
            div.content-divider
            div(style="padding: 1em")
                ul.nav.nav-tabs
                    li.active
                        a(href="#currentreport" data-toggle="tab") 现在的报告
                    li
                        a(href="#futurereport" data-toggle="tab") 未来的报告
                    li
                        a(href="#pastreport" data-toggle="tab") 过去的报告
                div.tab-content
                    div#currentreport.tab-pane.active
                        div
                            div
                                p(style="padding: 0.5em") 正在统计今天接车的人数...
                                ol#prepickup-list.list-group
                                    li.list-group-item
                                        span.badge.need-pickup
                                        需要接车的人数
                                    li.list-group-item
                                        span.badge.absence
                                        请假的人数
                                    li.list-group-item
                                        span.badge.total
                                        总计
                            div
                                h4(style="padding: 0.5em") 请假统计
                                div.content-divider
                                div#absence-table
                                br
                                button(type="button").btn.btn-primary 结束统计开始接车！
                        div.hidden
                            div 需要接 不用接 接到
                            div 今天请假的人
                            div 实时接送记录
                    div#futurereport.tab-pane
                        
                    div#pastreport.tab-pane ...
    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/pickupreport.js')