extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    
    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/rbac.js')