extends _master

block body-content
    div#content.sign-up
        div.login-form-container
            div.logo.col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
                div.login-logo-container
                    div.school-logo-background
                        img.school-logo(src='/core/img/school-logo-origin.png')
            form#login-form(action="login", method="post").login-form.col-lg-offset-4.col-lg-4.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
                div.form-group.login-form-group
                    div.form-field-group
                        input.form-control.input-lg#username(placeholder='Username', type='text', name='username')
                        span.login-field-icon.glyphicon.glyphicon-user
                    div.form-field-group
                        input.form-control.input-lg#password(placeholder='Password', type='password', name='password')
                        span.login-field-icon.glyphicon.glyphicon-lock
                    a(data-toggle="modal" data-target="#sign-up-form").sign-up-btn.btn.btn-lg.btn-warning#signup Sign Up
                    button(type="submit").login-btn.btn.btn-lg.btn-success#submit Login
                div.login-form-group-footer
                    p
                        a(href="/#/forget-password") Forget Password？
                    p
                        | Download&nbsp;
                        a(href="/#/download-iPhone") iPhone
                        | &nbsp;or&nbsp;
                        a(href="/#/download-android") Android
                        | &nbsp;App to manage YouYun
        footer.login-view-footer
            p
                a(href="/")
                    | YouYun © 2014 &nbsp;
                    img.yy-logo(src='/core/img/favicon.png')
                    | &nbsp;&nbsp;Youyun,Inc
    div#sign-up-form.modal.fade(role="dialog" aria-labelledby="myLargeModalLabel")
        div.modal-lg.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4 SignUp
                div.modal-body
                    |...
                div.modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/loginview.js')