extends _master

block head-extra
    link(rel='stylesheet', href='/core/css/styleguide.css')

block body-content 
    div.column-4
        div.school-very-dark-color
        div.school-dark-color
        div.school-color
        div.school-light-color
        div.school-very-light-color
        div.colorblock
        div.inverse-very-dark-color
        div.inverse-dark-color
        div.inverse-color
        div.inverse-light-color
        div.inverse-very-light-color
        div.colorblock
        div.bright-school-dark-color
        div.bright-school-color
        div.bright-school-light-color
        div.colorblock
        div.colorblock
        div.colorblock
        div.error-school-dark-color
        div.error-school-color
        div.error-school-light-color
        div.bg-color
        div.fg-color
        div.colorblock