extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    div#main-region.container-fluid
        div.page-board.pageboard-shadow(style="background:white;")
            div.content-header
                div.header-inner
                    h2.text-left 学生信息管理 (点击编辑)
            div.content-divider
            div(style="padding: 1em")
                table#student-table.table.table-hover
                    thead
                        tr
                            th 用户名
                            th 姓名
                            th 接车地点
                    tbody
    div#student-manage-modal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
                    h4.modal-title Modal title
                div.content-divider
                div.modal-body
                    div.input-group
                        span.input-group-addon.noborderradius 姓
                        input.lastname-input(type="text").form-control.noborderradius
                    div.input-group
                        span.input-group-addon.noborderradius 名
                        input.firstname-input(type="text").form-control.noborderradius
                    div.input-group
                        span.input-group-addon.noborderradius 接车地点
                        input.pickupLocation-input(type="text").form-control.noborderradius
                div.modal-footer
                    button(type="button" class="btn btn-default" data-dismiss="modal") 取消
                    button.submit-button(type="button" class="btn btn-primary") 保存
    script(src='/core/staticjs/usermanage.js')