extends app-header
block head-extra
    script.
        var current_user = !{JSON.stringify(user)};
block main-content
    div#main-region.container-fluid
        div.page-board.pageboard-shadow(style="background:white;")
            div.content-header
                div.header-inner
                    h2.text-left User Management
            div.content-divider
            div(style="padding: 1em")#student-table-container
    script(src='/core/staticjs/common.js')
    script(src='/core/staticjs/usermanage.js')