extends app-header
block head-extra
	script.
		var current_user = !{JSON.stringify(user)};
block main-content
	div#main-region.container-fluid
		div.page-board(style="background:white; margin-top:5px")
			div
				table#student-table.table.table-condensed
					thead
						tr
							th 姓
							th 名字
							th 接车地点
							th 用户名
							th 修改
					tbody
	script(src='/core/staticjs/usermanage.js')