// styles for cy-inputbox.ts

.cyan-autocomplete {
  display:table-row;
}

.cyan-autocomplete-input {
  display:table-cell;
}

.cyan-autocomplete-button {
  margin-left: 0 !important;
  padding: 0;
  border-left: 0;
  display:table-cell;
}