div#feed-center.pageboard-shadow
	div.content-header
		div.header-inner
			h2#content-main-heading.text-left 消息中心
			h2#content-time-heading.text-right 时间
	div.content-divider
	div.feed-center-control-box
		button(data-toggle="modal" data-target="#contact-modal" class="feed-create-button btn btn-xs btn-primary") 联系人
		button(class="feed-update-button btn btn-xs btn-primary") 刷新
		button(class="feed-search-button btn btn-xs btn-primary") 搜索
	div.feed-center-stream-container
		div.stream-item
		div.stream.home-stream
			ol.stream-items
	div.feed-new-chat-container