div#feed-center.pageboard-shadow
	div.content-header
		div.header-inner
			h2#content-main-heading.text-left 消息中心
			h2#content-time-heading.text-right 时间
	div.content-divider
	div.streaminfo-container
	div.stream-container
		div.stream-item
		div.stream.home-stream
			ol.stream-items