body {
  background-color: #00a693;
  margin: 0px;
  padding: 0px;
  height: 100%;
  /*  padding: 50px;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
.text_white {
  color: white;
}
.text_center {
  text-align: center;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
/* login */
.login_logo {
  background-image: url('/images/logo.png');
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.login_text_box {
  padding: 5px;
}
.login_box {
  margin-top: 200px;
  width: 300px;
}
/*user page*/
.header_text {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
}
.header_cover {
  width: 5%;
}
.main_header_box {
  padding-top: 2%;
  /*height:10%;*/
  border-bottom: 1px solid #c7bebe;
  overflow: hidden;
  /*margin-bottom: 2%;*/
}
.img_thin_border {
  line-height: 0.5;
  padding: 1px;
}
.user_page_box {
  margin: 30px;
  color: inherit;
  border-radius: 6px;
  /*overflow: auto;*/
}
.student_info {
  margin-top: 5%;
}
.student_page {
  background: #eee;
  padding: 20px;
  border-radius: 6px;
  border: 1px black;
  margin: 3px;
}
.user_left_sidebar {
  background-color: #101318;
  /*border-right: 1px solid sidebarborderrightcolor;*/
  border-radius: 6px 0 0 6px;
  /*overflow: auto;*/
}
.user_right_area {
  background-color: #eeeeee;
  /*border-right: 1px solid sidebarborderrightcolor;*/
  border-radius: 0 6px 6px 0;
  /*overflow: auto;*/
}
.sidebar_cover {
  width: 62%;
  margin-top: 20%;
}
.sidebar_control {
  margin-top: 10%;
  font-size: 15px;
}
a {
  color: #00B7FF;
}
