@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/nms/lib/google-fonts/fonts/ubuntu.woff) format('woff');
}