.contact-item
	background-color: white
	border-left: 1px solid $school-light-color
	border-right: 1px solid $school-light-color
	background-clip: padding-box

.contact
	border-bottom: 1px solid $school-light-color
	position: relative
	min-height: 72px
	padding: 9px 12px