header.stable
	p.school-logo-container
		a.school-logo(href="/")
			img(src='/core/img/school-logo-pinghe-login-white.png')
			| &nbsp;优云
	nav.main
		ul
			li.values
				a Values
			li.account
				a Account
			li.values
				a Values
			li.account
				a Account
			li.values
				a Values
			li.account
				a Account

	nav.user
		div.icon
			i hello
		ul
			li
				a(href="/#/account") Account
			li
				a(href="/#/logout") Logout

div#content
	header#photo



