header.labelheader
	p.school-logo-container
		a.school-logo(href="/")
			img(src='/core/img/school-logo-pinghe-login-white.png')
			| &nbsp;优云
	nav.main
		ul
			li.home
				a 个人主页
			li.messagebox
				a 消息中心
			li.account
				a 账户管理

	nav.user
		div.icon
			i hello
		ul
			li
				a(href="/#/account") Account
			li
				a(href="/#/logout") Logout

div#content
	header#photo



