.report-info-center
    margin: auto
    text-align: center
    padding: 20px
    button
        margin-top: 15px

header.content-header
    span#status-pill
        text-align: center
        font-size: 14px
        line-height: 17px
        vertical-align: middle
        padding: 4px 8px
        border-radius: 3px
        min-width: 86px
        background-color: transparent
        color: transparent
        font-weight: normal // normal

        .info
            +transition(0.5s)
            display: block

        .hover-info
            +transition(0.5s)
            font-weight: 500
            display: none

        &:hover
            .info
                display: none
            .hover-info
                display: block

        &[yy-status~="success"]
            +transition(0.5s)
            background-color: $success-light-color
            color: $success-color

        &[yy-status~="error"]
            +transition(0.5s)
            background-color: $error-light-color
            color: $error-color

        &[yy-status~="info"]
            +transition(0.5s)
            background-color: $info-light-color
            color: $info-color