#main-content .page-board
	width: 1000px
	margin: 10px auto 10px auto

.page-board-shadow
	background-color: white
	position: relative
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1)

.content-header .header-inner
	min-height: 45px
	padding: 12px
	background-color: #fff
	border-bottom: 1px solid #e8e8e8

.content-header
	border: 1px solid #e1e8ed
	border-bottom-width: 0

.avatar
	width: 48px
	height: 48px
	border-radius: 5px

.stream, .stream-items
	position: relative
	margin-left: 0
	list-style: none

.stream-item .content
	margin-left: 58px

.fullname
	color: #292f33
	font-weight: bold

h2#content-main-heading
	position: relative
	float: left

h2#content-time-heading
	position: relative
	float: right

.stream-item-header .avatar
	float: left
	margin-top: 3px
	margin-left: -58px

.message
	border-bottom: 1px solid #e1e8ed
	position: relative
	min-height: 72px
	padding: 9px 12px

.stream-item
	background-color: #ffffff
	border-left: 1px solid #e8e8e8
	border-right: 1px solid #e8e8e8
	background-clip: padding-box

.username
	font-size: 13px
	color: #8899a6

.message .time
	position: relative
	float: right
	margin-top: 1px
	color: #bbb

.time a
	font-size: 13px
	color: #8899a6

.message
	white-space: pre-wrap

.message p.message-content
	word-wrap: break-word
	padding: 2px

.time:before
	content: "\00a0\00b7\00a0\00a0"

