.reminder-container
	margin-top: 20px
	min-height: 200px

.reminder, .reminder-items
	position: relative
	margin-left: 0
	list-style: none

.reminder
	min-height: 45px
	padding: 10px 10px 12px 15px

.reminder .content
	margin-top: 4px
	font-size: 15px
	float: left

.reminder .time
	margin-top: 5px
	font-size: 13px
	float: right
	color: #8899a6

.reminder-item
	background-color: #ffffff
	border-bottom: 1px solid #e1e8ed
	border-left: 1px solid #e8e8e8
	border-right: 1px solid #e8e8e8
	background-clip: padding-box

.reminder-checkbox
	float: left
	margin-right: 20px

.reminder-add-button
	position: absolute
	right: 6px
	top: 6px